body {
    background: #ffffff;
    display: flex;
    justify-content: center;
    padding: 30px;
    font-family: Arial, sans-serif;
}

.container {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Caixa base */
.box {
    border: 2px dashed #999;
    padding: 20px;
    background: #fff;
    border-radius: 6px;
    position: relative;
}

/* Rótulo do componente */


/* Texto */
label {
    font-size: 14px;
    margin-bottom: 6px;
    display: block;
}

/* Fake input */
.input-placeholder {
    border: 1px solid #999;
    padding: 12px;
    border-radius: 4px;
    color: #666;
    background: #ffffff;
    margin-top: 4px;
}

/* Checkbox fake */
.checkbox-placeholder {
    width: 18px;
    height: 18px;
    border: 2px solid #999;
    margin-right: 10px;
}

/* Linha horizontal de elementos */
.inline {
    display: flex;
    align-items: center;
}

/* Botão fake */
.button-placeholder {
    text-align: center;
    padding: 12px;
    border: 2px solid #999;
    border-radius: 4px;
    background: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

/* Caixas específicas */
.logo-box {
    text-align: center;
}

.small-box {
    text-align: center;
}
