body {
    background: #f5f5f5;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.page {
    max-width: 1200px;
    margin: auto;
}

/* estilo geral das caixas */
.box {
    border: 2px dashed #999;
    padding: 20px;
    margin-bottom: 20px;
    background: #fff;
    text-align: center;
    font-weight: bold;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.small {
    width: 200px;
    
}

/* Patient info */
.patient {
    display: flex;
    align-items: center;
    gap: 20px;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.medium {
    flex: 1;
}

/* Estatísticas */
.stats {
    display: flex;
    gap: 15px;
}

.stat {
    border: 2px dashed #999;
    padding: 20px;
    width: 150px;
}

/* Filtros */
.filters {
    display: flex;
    gap: 20px;
}

.list .item {
    height: 80px;
}

/* Modal representado */
.modal-outline {
    border: 2px dotted #555;
    padding: 40px;
    text-align: center;
    background: #eee;
}
